<% @flights.each do |flight| %>
  <h2>Flight Number: <%= flight.number %></h2>
  <p>Airline: <%= flight.airline.name %></p>
  <ul>
    <% flight.passengers.each do |passenger| %>
      <li class="passenger-<%= passenger.id %>">
        <%= passenger.name %>
        <%= button_to 'Remove', flight_remove_passenger_path(flight_id: flight.id, id: passenger.id), method: :delete %>
      </li>
    <% end %>
  </ul>
<% end %>
